<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Find Collectors</title>
    </head>
    <body>
        <div layout:fragment="body">
            <section id="hero">
                <div class="hero-container">
                    <h1>Bem vindo ao Find Collectors</h1>
                    <h2>We are team of talented designers making websites with Bootstrap</h2>
                    <a th:href="@{/account/sign-in}" class="btn-get-started">Cadastre-se aqui</a>
                </div>
            </section><!-- #hero -->
        </div>

    </body>
</html>