<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <div layout:fragment="body">
            <div class="row">
                <div class="col">
                    <section sec:authorize="!isAuthenticated()" id="hero">
                        <div class="hero-container">
                            <h1>Bem vindo ao Find Collectors</h1>
                            <h2>Brasil é o 4º país que mais produz lixo no mundo</h2>
                            <a th:href="@{/account/sign-in}" class="btn-get-started">Cadastre-se aqui</a>
                            
                        </div>
                    </section><!-- #hero -->
                </div>
            </div>
         
            <div sec:authorize="hasRole('CATADOR')" class="container">
                <div class="top">
                    <h1>Coletas Disponíveis</h1>
                </div>

                <div class="package-container">
                    <div class="packages" th:each="freeCollect : ${freeCollects}">
                        <h2 class="pt-2" th:text="${freeCollect.garbageType}"></h2>
                        <ul class="list">
                            <li class="first">
                                Rua: 
                                <span th:text="${freeCollect.address}"></span> 
                            </li>
                            <li>
                                Bairro: 
                                <span th:text="${freeCollect.district}"></span> 
                            </li>
                            <li>
                                Número: 
                                <span th:text="${freeCollect.number}"></span> 
                            </li>
                            <li>
                                Data: 
                                <span th:text="${freeCollect.dateAndTime}"></span> 
                            </li>
                        </ul>
                        <a th:href="@{/collect/edit/{id} (id=${freeCollect.id})}" class="button button1">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>