<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <title>Find Collectors</title>

        <div th:replace="/fragments/header-imports::css"></div>

    </head>
    <body>
        <div layout:fragment="body"></div>
        
        <div th:replace="/fragments/footer-imports::scripts"></div>
    </body>
</html>