<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Find Collectors</title>
    </head>
    <body>
        <div layout:fragment="body">
          <div sec:authorize="hasRole('CATADOR')" class="container py-4">
            <div th:if="${!#lists.isEmpty(freeCollects)}">
                <div class="top">
                    <h1>Coletas Disponíveis</h1>
                </div>
                <div class="package-container">
                    <div class="packages" th:each="freeCollect : ${freeCollects}">
                        <h4 class="pt-2" th:text="${freeCollect.garbageType}"></h4>
                        <ul class="list">
                            <li class="first">
                                Rua: 
                                <span th:text="${freeCollect.address}"></span> 
                            </li>
                            <li>
                                Bairro: 
                                <span th:text="${freeCollect.district}"></span> 
                            </li>
                            <li>
                                Número: 
                                <span th:text="${freeCollect.number}"></span> 
                            </li>
                            <li>
                                Data: 
                                <span th:text="${freeCollect.dateAndTime}"></span> 
                            </li>
                        </ul>
                        <a th:href="@{/collect/edit/{id} (id=${freeCollect.id})}" class="button button1">
                            Ver Detalhes <i class="fa-solid fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(freeCollects)}">
                <div class="top">
                    <h1>Não há coletas disponíveis no momento</h1>
                </div>
            </div>
          </div>
        </div>
    </body>
</html>