<div th:fragment="scripts">
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/fontawesome/js/all.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/scripts.js"></script>
</div>

<div th:fragment="bootstrap-scripts">
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>

<div th:fragment="main">
    <script src="/js/main.js"></script>
</div>

<div th:fragment="scripts-personal">
    <script src="/js/scripts.js"></script>
</div>